.overlay{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(255, 0, 0, 0.2);
    display: grid;
    align-items: center;
}

.wrapper-login {
    text-align: -webkit-center;
}

form.login-form {
    background-color: whitesmoke;
    display: grid;
    max-width: 500px;
    border-radius: 15px;
    padding-inline: 15px;
    padding-block: 10px;
}

label.login-info {
    float: left;
    padding-top: 10px;
}

button.close-btn.btn.btn-secondary {
    margin: 0;
    padding: 0;
    justify-self: end;
    width: 25px;
    height: 25px;
}

.login-btn{
    margin-top: 20px;
}