html{
    overflow:hidden;
}

.bg-image{
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.card-container{
    width: 600px !important;;
}

.new-bg{
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
    overflow-x: hidden;
    overflow:hidden;
    
}

.pfp-image{
    width: 150px !important;
    height: 150px!important;
    /* position: absolute; */
    background-image: url(https://thispersondoesnotexist.com/image);
    background-size: cover;
    margin-top: -100px;
}

.gray-filler {
    background-color: #f8f9fa;
    min-height: 100%;
    width: 100%;
    margin-inline: -1rem;
    position: absolute;
    padding: +1rem;
    overflow:hidden;
}

.Playlists{
    display: grid;
    grid-template-columns: 1;

    grid-gap: 10px;
    padding: 10px;


}

.Playlists > div {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 15px;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
